@import url('@/assets/config-styles/reset.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-space-grotesk: 'Space Grotesk', 'system-ui';
    --font-sora: 'Sora', 'system-ui';
    --font-phosphate: 'Phosphate', 'system-ui';
  }
}

input, textarea, select, button, option {
  font-family: var(--font-space-grotesk), 'system-ui';
}

body {
  font-family: var(--font-space-grotesk), 'system-ui';
}

#root {
  font-weight: 400;
  overflow: hidden; /* If need to use 'position: sticky' - set 'overflow: clip' */
}

html {
  scroll-behavior: smooth;
}
