@import url('@/assets/config-styles/reset.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-space-grotesk: 'Space Grotesk', 'system-ui';
    --font-sora: 'Sora', 'system-ui';
    --font-phosphate: 'Phosphate', 'system-ui';
  }
}

input, textarea, select, button, option {
  font-family: var(--font-space-grotesk), 'system-ui';
}

body {
  font-family: var(--font-space-grotesk), 'system-ui';
}

html {
  scroll-behavior: smooth;
}

a:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline-width: 2px;
  outline-style: solid;

  outline-offset: 2px;
}

.primary-btn-outline:focus-visible {
  outline-color: grey;
}

img {
  user-select: none;
  pointer-events: none;
}

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-orange {
  background: linear-gradient(to right, #E1A23A 0%, #F6681E 100%);
  @apply text-gradient;
}

.text-gradient-red-to-blue {
  background: linear-gradient(to right, #95413B 0%, #371C58 50%, #0A55CD 100%);
  @apply text-gradient;
}

.text-gradient-blue {
  background: linear-gradient(to right, #263284 0%, #0A55CD 100%);
  @apply text-gradient;
}

.review-outer-gradient {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.16) 0%, rgba(83, 84, 108, 0.16) 100%);
  backdrop-filter: blur(16px);
}

.review-inner-gradient {
  background: linear-gradient(to right, #0E1117 0%, #1C1F29 100%);
  backdrop-filter: blur(16px);
}

.primary_btn_hover:hover {
  box-shadow: 0 4px 20px 0 #fff;
}

/* btn flip animation */

.flip-animate {
  perspective: 1000px;
}

.flip-animate span {
  position: relative;
  display: inline-block;
  padding: 0;
  transition: transform 0.3s;
  transform-origin: 50% 0;
  text-wrap: nowrap;
  transform-style: preserve-3d;
}

.flip-animate span:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(data-hover);
  transition: color 0.3s;
  transform: rotateX(-90deg);
  transform-origin: 50% 0;
  text-align: center;
}

.flip-animate:hover span {
  transform: rotateX(90deg) translateY(-22px);
}
