@import url('@/assets/config-styles/reset.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-space-grotesk: 'Space Grotesk', 'system-ui';
    --font-sora: 'Sora', 'system-ui';
    --font-phosphate: 'Phosphate', 'system-ui';
  }
}

input, textarea, select, button, option {
  font-family: var(--font-space-grotesk), 'system-ui';
}

body {
  font-family: var(--font-space-grotesk), 'system-ui';
}

html {
  scroll-behavior: smooth;
}

a:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline-width: 2px;
  outline-style: solid;

  outline-offset: 2px;
}

.primary-btn-outline:focus-visible {
  outline-color: #3ADCFF;
}

img {
  user-select: none;
  pointer-events: none;
}

/* about us text gradient */

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-orange {
  background: linear-gradient(to right, #E1A23A 0%, #F6681E 100%);
  @apply text-gradient;
}

.text-gradient-red-to-blue {
  background: linear-gradient(to right, #95413B 0%, #371C58 50%, #0A55CD 100%);
  @apply text-gradient;
}

.text-gradient-blue {
  background: linear-gradient(to right, #263284 0%, #0A55CD 100%);
  @apply text-gradient;
}

/* form bg gradient */

.review-outer-gradient {
  background: linear-gradient(51deg, rgba(0, 0, 0, 0.16) 0%, rgba(83, 84, 108, 0.16) 100%);
  backdrop-filter: blur(16px);
}

.review-inner-gradient {
  background: linear-gradient(47deg, rgba(51, 51, 62, 0.16) 0%, rgba(83, 84, 108, 0.16) 100%);
  backdrop-filter: blur(16px);
}

/* btn hover shadow */

.primary-btn-hover:hover {
  box-shadow: 0 4px 20px 0 #fff;
}

.outline-btn-hover:hover {
  box-shadow: 0 2px 20px 0 #3ADCFF95;
}

/* btn flip animation */

.flip-animate {
  perspective: 1000px;
}

.flip-animate span {
  position: relative;
  display: inline-block;
  padding: 0;
  transition: transform 0.3s;
  transform-origin: 50% 0;
  text-wrap: nowrap;
  transform-style: preserve-3d;
}

.flip-animate span:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(data-hover);
  transition: color 0.3s;
  transform: rotateX(-90deg);
  transform-origin: 50% 0;
  text-align: center;
}

.flip-animate:hover span {
  transform: rotateX(90deg) translateY(-22px);
}

/* form */

.field-bg {
  background: linear-gradient(47deg, rgba(51, 51, 62, 0.16) 0%, rgba(83, 84, 108, 0.16) 100%);
}

.field-bg::placeholder {
  color: #676C9E;
}

.form-bg {
  background: linear-gradient(51deg, rgba(0, 0, 0, 0.5) 0%, rgba(83, 84, 108, 0.5) 100%);
  backdrop-filter: blur(6px);
}

/* icons */

svg path {
  transition: fill 0.3s;
}

.instagram:hover {
  path {
    fill: #CF4C79
  }
}
.telegram:hover {
  path {
    fill: #2AABEE
  }
}
.whatsapp:hover {
  path {
    fill: #00D95F
  }
}
.youtube:hover {
  :first-child {
    fill: #FF3000
  }
  :nth-child(2) {
    fill: white;
  }
}
