@import url('@/assets/config-styles/reset.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-space-grotesk: 'Space Grotesk', 'system-ui';
    --font-sora: 'Sora', 'system-ui';
    --font-phosphate: 'Phosphate', 'system-ui';

    --bg-color: #060a10;

    --instagram-color: #cf4c79;
    --telegram-color: #2aabee;
    --whatsapp-color: #00d95f;
    --youtube-color-1: #ff3000;
    --youtube-color-2: white;
  }
}

input,
textarea,
select,
button,
option {
  font-family: var(--font-space-grotesk), 'system-ui';
}

body {
  font-family: var(--font-space-grotesk), 'system-ui';
}

html {
  /* scroll-behavior: smooth; */
}

a:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline-width: 2px;
  outline-style: solid;

  outline-offset: 2px;
}

.primary-btn-outline:focus-visible {
  outline-color: #3adcff;
}

img {
  user-select: none;
  pointer-events: none;
}

/* about us text gradient */

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  background-clip: text;
  color: transparent;

  background-size: 100%;
  background-repeat: repeat;
}

.text-gradient-orange {
  background-color: #e1a23a;
  background-image: linear-gradient(to right, #e1a23a 0%, #f6681e 100%);
  @apply text-gradient;
}

.text-gradient-red-to-blue {
  background-color: #371c58;
  background-image: linear-gradient(to right, #95413b 0%, #371c58 50%, #0a55cd 100%);
  @apply text-gradient;
}

.text-gradient-blue {
  background-color: #263284;
  background-image: linear-gradient(to right, #263284 0%, #0a55cd 100%);
  @apply text-gradient;
}

/* form bg gradient */

.review-outer-gradient {
  background: linear-gradient(51deg, rgba(0, 0, 0, 0.16) 0%, rgba(83, 84, 108, 0.16) 100%);
  backdrop-filter: blur(16px);
}

.review-inner-gradient {
  background: linear-gradient(47deg, rgba(51, 51, 62, 0.16) 0%, rgba(83, 84, 108, 0.16) 100%);
  backdrop-filter: blur(16px);
}

/* btn hover shadow */

.primary-btn-hover:hover {
  box-shadow: 0 4px 20px 0 #fff;
}

.outline-btn-hover:hover {
  box-shadow: 0 2px 20px 0 #3adcff95;
}

/* btn flip animation */

.flip-animate {
  perspective: 1000px;
}

.flip-animate span {
  position: relative;
  display: inline-block;
  padding: 0;
  transition: transform 0.3s;
  transform-origin: 50% 0;
  text-wrap: nowrap;
  transform-style: preserve-3d;
}

.flip-animate span:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(data-hover);
  transition: color 0.3s;
  transform: rotateX(-90deg);
  transform-origin: 50% 0;
  text-align: center;
}

.flip-animate:hover span {
  transform: rotateX(90deg) translateY(-22px);
}

/* form */

.field-bg {
  background: linear-gradient(47deg, rgba(51, 51, 62, 0.16) 0%, rgba(83, 84, 108, 0.16) 100%);
}

.field-bg::placeholder {
  color: #676c9e;
}

.form-bg {
  background: linear-gradient(51deg, rgba(0, 0, 0, 0.5) 0%, rgba(83, 84, 108, 0.5) 100%);
  backdrop-filter: blur(6px);
}

/* icons */

svg path {
  transition: fill 0.3s;
}

.instagram:hover {
  path {
    fill: var(--instagram-color);
  }
}
.telegram:hover {
  path {
    fill: var(--telegram-color);
  }
}
.whatsapp:hover {
  path {
    fill: var(--whatsapp-color);
  }
}
.youtube:hover {
  :first-child {
    fill: var(--youtube-color-1);
  }
  :nth-child(2) {
    fill: var(--youtube-color-2);
  }
}

/* default white color icons style */

.instagram-white path {
  fill: var(--instagram-color);
}

.instagram-white:hover path {
  fill: white;
}

.telegram-white path {
  fill: var(--telegram-color);
}

.telegram-white:hover path {
  fill: white;
}

.whatsapp-white path {
  fill: var(--whatsapp-color);
}

.whatsapp-white:hover path {
  fill: white;
}

.youtube-white :first-child {
  fill: var(--youtube-color-1);
}

.youtube-white :nth-child(2) {
  fill: var(--youtube-color-2);
}

.youtube-white:hover :first-child {
  fill: white;
}

.youtube-white:hover :nth-child(2) {
  fill: var(--bg-color);
}

/* projects */

/* .projects-ellipse {
  clip-path: ellipse(53% 50% at 50% 50%);
} */

/* services */

.service-card-shadow:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';

  -moz-box-shadow: inset 0px -200px 120px 20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0px -200px 120px 20px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px -200px 120px 20px rgba(0, 0, 0, 0.6);
}

.service-list {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  white-space: nowrap;
}

@property --myColor1 {
  syntax: '<color>';
  initial-value: #060a10;
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: #060a10;
  inherits: false;
}

.service-mini-card-bg {
  transition:
    --myColor1 0.3s,
    --myColor2 0.3s;
  background: linear-gradient(175deg, var(--myColor1) 0%, var(--myColor2) 100%);
  --myColor1: #1b1c3629;
  --myColor2: #70717a29;
}

/* custom adaptive */

@media (max-width: 768px) {
  .list-checkmark {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 700px) {
  .owl-halfmoon {
    width: 540px !important;
    height: 540px !important;
  }
}

@media (max-width: 600px) {
  .animation-studio {
    font-size: 100px !important;
  }

  .animation-studio-desc {
    font-size: 14px !important;
  }
}

@media (max-width: 550px) {
  .owl-halfmoon {
    width: 460px !important;
    height: 460px !important;
  }

  .animation-studio {
    font-size: 85px !important;
  }

  .animation-studio-desc {
    font-size: 13px !important;
  }

  .footer-owl-halfmoon {
    width: 131px !important;
    height: 131px !important;
  }
}

@media (max-width: 500px) {
  .list-checkmark {
    width: 20px;
    height: 20px;
  }

  .owl-halfmoon {
    width: 410px !important;
    height: 410px !important;
  }

  .animation-studio {
    margin-top: 20px !important;
  }
}

@media (max-width: 450px) {
  .animation-studio {
    font-size: 65px !important;
    margin-bottom: 8px !important;
  }

  .animation-studio-desc {
    font-size: 13px !important;
  }

  .owl-halfmoon {
    width: 340px !important;
    height: 340px !important;
  }
}

@media (max-width: 400px) {
  .about-us-text {
    font-size: 30px !important;
  }
}
