@import url('@/assets/config-styles/reset.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-space-grotesk: 'Space Grotesk', 'system-ui';
    --font-sora: 'Sora', 'system-ui';
    --font-phosphate: 'Phosphate', 'system-ui';
  }
}

input, textarea, select, button, option {
  font-family: var(--font-space-grotesk), 'system-ui';
}

body {
  font-family: var(--font-space-grotesk), 'system-ui';
}

/*html {
  scroll-behavior: smooth;
}*/

a:focus {
  outline: none;
}

a:focus-visible {
  outline-width: 2px;
  outline-style: solid;
  outline-offset: 2px;
}

img {
  user-select: none;
  pointer-events: none;
}

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-orange {
  background: linear-gradient(to right, #E1A23A 0%, #F6681E 100%);
  @apply text-gradient;
}

.text-gradient-red-to-blue {
  background: linear-gradient(to right, #95413B 0%, #371C58 50%, #0A55CD 100%);
  @apply text-gradient;
}

.text-gradient-blue {
  background: linear-gradient(to right, #263284 0%, #0A55CD 100%);
  @apply text-gradient;
}
